<script src="/js/socket.io.js" defer></script>
<script src="/js/socketfunctions.js" defer></script>
<div class="container">
    <section class="content-header">
        <h1>
            Races
        </h1>
    </section>
    <section class="content">
        <div class="row">
            <div class="box box-body">
                <div class="raceblock">
                    <div class="header">
                        <h2>Race naam: {{data.old._id}}</h2>
                        {{#if isAdmin}}
                            <a class="btn btn-info float-right" role="button" href="/races/{{data.old._id}}/edit">Aanpassen</a>
                            <form action="/races/{{data.old._id}}" class="removerace" method="DELETE">
                                <input class="btn-info" type="submit" value="Verwijderen" />
                            </form>
                        {{/if}}
                    </div>
                    {{#if isAdmin}}
                        <p>Begonnen:
                        {{#if data.old.isStarted}}
                            <span>ja</span>
                        {{else}}
                        <span>nee</span>
                            <form action="/races/enable/{{data.old._id}}" class="sendtoserver" method="PUT">
                                <input type="submit" value="Aandoen" />
                            </form>
                        {{/if}}
                        </p>
                        <a class="btn btn-info" role="button" href="/races/{{data.old._id}}/waypoints">waypoint lijst/toevoegen</a>
                    {{/if}}
                    <p>waypoints:</p>
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>naam</th>
                            <th>option</th>
                        </tr>
                        </thead>
                        <tbody>
                        {{#each data.waypoints}}

                                <tr>
                                    <td>{{#if this.tags.name}} {{this.tags.name}} {{/if}}</td>
                                    <td>{{#unless ../isAdmin}}{{#if this.done}}Al gehad{{else}}<button onclick="adddone('{{../data.old._id}}','{{this.id}}')" >Aandoen</button>{{/if}}{{/unless}}<button onclick="setmap({{this.lat}},{{this.lon}})" class="changemap">Laat zien op de map</button></td>
                                </tr>
                        {{/each}}
                        </tbody>
                    </table>
                    <div class="container nexttoeachoter">
                        <div class="row">
                            <div class="col">
                                <iframe id="map" width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.openstreetmap.org/export/embed.html?" style="border: 1px solid black"></iframe>
                            </div>
                            <div class="col">
                                <button onclick="socketaskuseramount()" >Check aantal gebruikers</button>
                                <div id="chat">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
