<div class="container">
    <section class="content-header">
        <h1>
            Races
        </h1>
    </section>
    <section class="content">
        <div class="row">
            <div class="box box-body">
                <div class="raceblock">
                    <h2>Race naam: {{data._id}}</h2>
                    <p>Begonnen:
                    {{#if data.isStarted}}
                        <span>ja</span>
                    {{else}}
                    <span>nee</span>
                    {{/if}}
                    </p>
                    <p>punten:</p>
                    <a href="/races/{{data._id}}/waypoints">Nieuwe toevoegen</a>
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>naam</th>
                            <th>option</th>
                        </tr>
                        </thead>
                        <tbody>
                        {{#each data.waypoints}}
                                <tr>
                                    <td>{{this}}</td>
                                    <td><form action="/races/done/{{data._id}}" class="sendtoserver" method="POST">
                                        <input type="submit" value="Geweest" />
                                    </form></td>
                                </tr>
                        {{/each}}
                        </tbody>
                    </table>
                    <form action="/races/enable/{{data._id}}" class="sendtoserver" method="PUT">
                        <input type="submit" value="Aandoen" />
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>
